* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1330px;
}

ul,
li,
a,
button,
input {
  text-decoration: none;
  list-style: none;
  background: none;
  border: none;
  outline: none;
}

.nav_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav_top i {
  font-size: 20px;
  cursor: pointer;
}
.nav_top .nav_right, .nav_top .nav_left {
  display: flex;
  gap: 20px;
}
.nav_top .menu {
  display: none;
}

.nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.nav_bar ul {
  display: flex;
  gap: 44px;
}
.nav_bar ul .nav_bar__link {
  color: #726E8D;
  font-size: 16px;
  padding-bottom: 3px;
  transition: 0.3s linear;
  border-bottom: 2px solid transparent;
}
.nav_bar ul .nav_bar__link:hover {
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  transition: 0.3s linear;
}

.navigation {
  z-index: 1;
  position: absolute;
  top: -500%;
  right: -500%;
  width: 300px;
  background: #fff;
  height: 100vh;
  transition: 1s linear;
}
.navigation.open {
  right: 0;
  top: 0;
  position: fixed;
}
.navigation i {
  font-size: 26px;
  margin: 16px;
}
.navigation ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.navigation ul .nav_bar__link {
  display: flex;
  width: 300px;
  padding: 15px 30px;
  transition: 0.3s linear;
  color: #726E8D;
  font-size: 16px;
}
.navigation ul .nav_bar__link:hover {
  background: rgba(114, 110, 141, 0.7176470588);
  color: #fff;
  transition: 0.3s linear;
}

@media screen and (max-width: 760px) {
  .nav_bar, hr, .nav_right {
    display: none !important;
  }
  .nav_top {
    flex-direction: row-reverse;
  }
  .menu {
    display: block !important;
  }
}
.main {
  background: rgba(231, 231, 231, 0.201);
}
.main h2 {
  color: var(--Dark-Primary, #2A254B);
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
  padding: 64px 0 20px;
}
.main .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.main .row span {
  color: var(--Dark-Primary, #2A254B);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.main .body_card {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main .body_card h4 {
  color: var(--Dark-Primary, #2A254B);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}
.main .body_card p {
  color: var(--Dark-Primary, #2A254B);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  max-width: 180px;
  padding: 8px 0;
}
.main .main_footer {
  padding: 30px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main .main_footer h4 {
  color: var(--Primary, #4E4D93);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}
.main .main_footer p {
  color: var(--Primary, #4E4D93);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  padding: 12px 0 16px;
}
.main .main_footer button {
  background: var(--Dark-Primary, #2A254B);
  padding: 16px 32px;
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.3s linear;
  cursor: pointer;
}
.main .main_footer button:hover {
  background: var(--Dark-Primary, #584e9c);
}

@media screen and (max-width: 560px) {
  .main .main_row {
    display: none;
  }
  .main h2 {
    font-size: 24px;
    padding: 36px 0 20px;
  }
  .main .body_row {
    flex-direction: column;
  }
  .main .body_row .none_span {
    display: none;
  }
  .main .main_footer {
    padding: 30px 0 50px;
  }
  .main .main_footer h4 {
    font-size: 20px;
  }
  .main .main_footer button {
    width: 100%;
  }
}
.footer {
  background: var(--Dark-Primary, #2A254B);
}

.footer_body {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer_body .footer_left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.footer_body ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_body ul .footer_link {
  color: var(--White, #FFF);
  font-size: 14px;
  font-weight: 400;
  transition: 0.2s linear;
}
.footer_body ul .footer_link:hover {
  color: rgba(255, 255, 255, 0.543);
}
.footer_body .footer_right {
  width: 45%;
}
.footer_body .footer_right p {
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 400;
}
.footer_body .footer_right form {
  margin-top: 16px;
  width: 100%;
  display: flex;
}
.footer_body .footer_right input {
  width: 60%;
  background: rgba(255, 255, 255, 0.15);
  padding: 17px 32px;
  color: var(--White, #FFF);
  font-size: 16px;
}
.footer_body .footer_right input::placeholder {
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 400;
}
.footer_body .footer_right button {
  background: var(--White, #FFF);
  padding: 16px 32px;
  color: #2A254B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.3s linear;
  cursor: pointer;
}
.footer_body .footer_right button:hover {
  background: rgba(255, 255, 255, 0.826);
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.footer_bottom p {
  color: var(--White, #FFF);
  font-size: 14px;
  font-weight: 400;
}
.footer_bottom .social_img {
  display: flex;
  gap: 24px;
}
.footer_bottom .social_img i {
  cursor: pointer;
  font-size: 24px;
  color: #FFF;
}

@media screen and (max-width: 705px) {
  .footer_body {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer_body .footer_left {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer_body ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .footer_body ul .footer_link {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s linear;
  }
  .footer_body ul .footer_link:hover {
    color: rgba(255, 255, 255, 0.543);
  }
  .footer_body .footer_right {
    margin-top: 40px;
    width: 80%;
  }
  .footer_body .footer_right p {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
  }
  .footer_body .footer_right form {
    margin-top: 16px;
    width: 100%;
    display: flex;
  }
  .footer_body .footer_right input {
    width: 70%;
    background: rgba(255, 255, 255, 0.15);
    padding: 17px 32px;
    color: var(--White, #FFF);
    font-size: 16px;
  }
  .footer_body .footer_right input::placeholder {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
  }
  .footer_body .footer_right button {
    background: var(--White, #FFF);
    padding: 16px 32px;
    color: #2A254B;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: 0.3s linear;
    cursor: pointer;
  }
  .footer_body .footer_right button:hover {
    background: rgba(255, 255, 255, 0.826);
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }
  .footer_bottom p {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
  }
  .footer_bottom .social_img {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  .footer_body {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer_body .footer_left {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer_body ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .footer_body ul .footer_link {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s linear;
  }
  .footer_body ul .footer_link:hover {
    color: rgba(255, 255, 255, 0.543);
  }
  .footer_body .footer_right {
    margin-top: 40px;
    width: 100%;
  }
  .footer_body .footer_right p {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
  }
  .footer_body .footer_right form {
    margin-top: 16px;
    width: 100%;
    display: flex;
  }
  .footer_body .footer_right input {
    width: 60%;
    background: rgba(255, 255, 255, 0.15);
    padding: 17px 32px;
    color: var(--White, #FFF);
    font-size: 16px;
  }
  .footer_body .footer_right input::placeholder {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
  }
  .footer_body .footer_right button {
    background: var(--White, #FFF);
    padding: 16px 22px;
    color: #2A254B;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: 0.3s linear;
    cursor: pointer;
  }
  .footer_body .footer_right button:hover {
    background: rgba(255, 255, 255, 0.826);
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }
  .footer_bottom p {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
  }
  .footer_bottom .social_img {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
