.main{
    background: rgba(231, 231, 231, 0.201);
    h2{
        color: var(--Dark-Primary, #2A254B);
        font-size: 36px;
        font-weight: 400;
        line-height: 140%; 
        padding: 64px 0 20px;
    }
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        span{
            color: var(--Dark-Primary, #2A254B);
            font-size: 18px;
            font-weight: 400;
            line-height: 150%; 
        }
    }
    .body_card{
        display: flex;
        align-items: center;
        gap: 20px;
        h4{
            color: var(--Dark-Primary, #2A254B);
            font-size: 20px;
            font-weight: 400;
            line-height: 140%; 
        }
        p{
            color: var(--Dark-Primary, #2A254B);
            font-size: 14px;
            font-weight: 400;
            line-height: 150%;
            max-width: 180px;
            padding: 8px 0;
        }
    }
    .main_footer{
        padding: 30px 0 50px;
        display: flex;
        flex-direction: column;
        // justify-content: end;
        align-items: flex-end;
        h4{
            color: var(--Primary, #4E4D93);
            font-size: 20px;
            font-weight: 400;
            line-height: 140%; 
        }
        p{
            color: var(--Primary, #4E4D93);
            font-size: 14px;
            font-weight: 400;
            line-height: 150%; 
            padding: 12px 0 16px;
        }
        button{
            background: var(--Dark-Primary, #2A254B);
            padding: 16px 32px;
            color: var(--White, #FFF);
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            transition: .3s linear;
            cursor: pointer;
            &:hover{
                background: var(--Dark-Primary, #584e9c);

            } 
        }
    }
}

@media screen and (max-width:560px){
    .main{
        .main_row{
            display: none;
        }
        h2{
            font-size: 24px;
            padding: 36px 0 20px;
        }
        .body_row{
            flex-direction: column;
            .none_span{
                display: none;
            }
        }
        .main_footer{
            padding: 30px 0 50px;
            h4{
                font-size: 20px;
            }
            button{
                width: 100%;
            }
        }
    }
}