.nav_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    i{
        font-size: 20px;
        cursor: pointer;
    }
    .nav_right, .nav_left{
        display: flex;
        gap: 20px;
    }
    .menu{
        display: none;
    }
}
.nav_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    ul{
        display: flex;
        gap: 44px;
        .nav_bar__link{
            color: #726E8D;
            font-size: 16px;
            padding-bottom: 3px;
            transition: .3s linear;
            border-bottom: 2px solid transparent;

        }
        .nav_bar__link:hover{
            color: #000;
            border-bottom: 2px solid #000;
            padding-bottom: 10px;
            transition: .3s linear;

        }
    }
}
.navigation{
    z-index: 1;
    position: absolute;
    top: -500%;
    right: -500%;
    width: 300px;
    background: #fff;
    height: 100vh;
    transition: 1s linear;
    &.open{
        right: 0;
        top: 0;
        position: fixed;
    }
    i{
        font-size: 26px;
        margin: 16px;
    }
    ul{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        .nav_bar__link{
            display: flex;
            width: 300px;
            padding: 15px 30px;
            transition: .3s linear;
            color: #726E8D;
            font-size: 16px;
        }
        .nav_bar__link:hover{
            background: #726e8db7;
            color: #fff;
            transition: .3s linear;

        }
    }
}

@media screen and (max-width:760px){
    
    .nav_bar, hr, .nav_right{
        display: none !important;
    }
    .nav_top{
        flex-direction: row-reverse;
    }
    .menu{
        display: block !important;
    }
  
}