*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1330px;
}

ul,
li,
a,
button,
input{
    text-decoration: none;
    list-style: none;
    background: none;
    border: none;
    outline: none;
}